body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}
.container {
    max-width: 800px;
}
header {
    background-color: #007bff;
    color: white;
    padding: 2rem 0;
    border-radius: 0 0 10px 10px;
}
h1 {
    font-weight: bold;
}
.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.modal-image {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.modal-header {
    background-color: #007bff;
    color: white;
}
.modal-title {
    font-weight: bold;
}
.btn-close {
    color: white;
}
@media (max-width: 576px) {
    h1 {
        font-size: 2rem;
    }
    
    .lead {
        font-size: 1rem;
    }
}